source "drivers/fingerprint/goodixgf3208/Kconfig"

source "drivers/fingerprint/goodix/Kconfig"

source "drivers/fingerprint/goodix_5216/Kconfig"

config FINGERPRINT
	tristate "Support for fingerprint sensor function"
	help
	  Say Y here to enable fingerprint sensor function
